* {
  box-sizing: border-box;
  background-color: #F5F3F1;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height:100%;
  margin:0px;
  padding:0px;
}

.text {
  flex-direction: column;
  padding-bottom: 5px;
  padding-left: 0px;
  justify-content: space-between;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  width: 50%;
  text-align: left;
  font-family: 'Roboto Serif', sans-serif;
  margin-left: 0px;
}

h1 {
  font-size: 45px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h3 {
  font-size: 20px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.splash-page {
  position: relative;
}

.splash-decoration-block {
  position: absolute;
  width: 450px;
  height: 850px;
  right: 0px;
  top: 10px;
  border-radius: 50px;
  background: #2C2C2C;
  z-index: 1;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: auto;
  height: auto;
  position: absolute;
  background-color: #F5F3F1;
  top: 22vh;
  left: 13vw;
}

.headline div p {
  border: 1px;
  margin: 2%;
  font-family: "Roboto";
}

.contactInfo {
  position: absolute;
  width: 123px;
  height: 40px;
  top: 450px;
  left: 8px;
  background: #2C2C2C;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contactInfo p{
  background-color: #2C2C2C;
  color: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 18px;
}

.contactInfo:hover {
  cursor: pointer;
  background-color:black;
}

.contactInfo:hover p{
  cursor: pointer;
  background-color:black;
}

.contact-QRcode {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: -1;
  border-radius: 20px;
  background-color: #dedfe0;
  display: flex;
  justify-content: flex-end;
}



.contact-X img {
  position: absolute;
  right: 0%;
  top: 0%;
  object-fit: cover;
  width: 40px;
  height: auto;
  border-radius: 20px;
}

.contact-X img:hover {
  cursor: pointer;
}

.QRcodes {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #dedfe0;
}

.QRpic {
  /* background-color: aqua; */
  
  width: 45%;
  left: 1%;
  height: 98%;
  top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.QRpic img {
  height: 100%;
  border-radius: 20px;
}

.portrait {
  position: absolute;
  width: 335px;
  height: 335px;
  border-radius: 50px;
  top: 25%;
  left: -25%;
  background-color: grey;
  z-index: 2;
}

.portrait-img {
  border-radius: 50px;
}

.navbar {
  position: absolute;
  width: 80%;
  height: 55px;
  left: 10%;
  top:67px;
  z-index: 2;
  background-color: #2C2C2C;
}   

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #2C2C2C;
}

.nav-button{
  background-color: #2C2C2C;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 0px;
  color: white;
}

.nav-button a:visited{
  background-color: #2C2C2C;
  color: inherit;
}

.nav-button a{
  background-color: #2C2C2C;
  color: inherit;
}

.nav-button:hover {
  cursor:pointer;
}

.experiences {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  top: 880px;
  background-color: #2C2C2C;
}

.portfolio {
  position: absolute;
  top:8%;
  left:5%;
  width: 90%;
  height: 84%;
  background-color:#2C2C2C;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}

.portfolio-block {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  width: 45%;
  height: 45%;
  background-color:#2C2C2C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proj-list-item {
  max-width: 100%;
  max-height: 100%; 
  width: 100%;
  height: 30%;
  background-color:#F5F3F1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-image {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  height:100%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-name {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  height:23%;
  background-color:#F5F3F1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-description {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  height:73%;
  background-color:#F5F3F1;
  border-radius: 10px;
}


.proj-list-item h2 {
  text-align: center;
  vertical-align:middle;
}

.proj-image img{
  max-width: 100%;
  height: auto;
}

.proj-description p {
  text-align:start;
  vertical-align: middle;
  position: relative;
  width: 90%;
  left: 5%;
  font-family: "Roboto";
  font-size: 16px;
  overflow-y: scroll;
  max-height: 80%;
}

.proj-name p {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  width: 90%;
}